<!DOCTYPE html>
<html>
<head>
    <title>List</title>
</head>
<body>
    <script src="../scripts/list.js"></script>
    <h1>My List</h1>
    <ul><li></li></ul>
</body>
<form method='post'>
    <div>
        <label type='text'>Enter your thing to do</label>
        <input type='input'>Check>
    </div>
</form>
</html>